<div class="container-lg">
  <h1>CONVERSOR DE MOEDAS</h1>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Moeda" aria-label="Moeda">
  <select class="form-select" aria-label="Default select example">

    <option selected>Conversões</option>
    <option value="1">Real para Dolar</option>
    <option value="2">Real para Euro</option>
    <option value="3">Real para Libra</option>
    <option value="4">Dolar para Real</option>
    <option value="5">Euro para Real</option>
    <option value="6">Libra para Real</option>

  </select>

  <input [value] = result >
</div>
</div>
